<div id="singup" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/authentication/singup.less</em>, <em>assets/js/pages/authentication/singup.page.js</em>, and <em>api/controllers/authentication/view-singup.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
