<% include ../dashboard/menu.ejs %>

<!-- <script src="/global_assets/js/demo_pages/alpaca_advanced.js"></script> -->
	<!-- Theme JS files -->
	<script src="/global_assets/js/plugins/forms/inputs/typeahead/handlebars.min.js"></script>
	<script src="/global_assets/js/plugins/forms/inputs/alpaca/alpaca.min.js"></script>
	<!-- <script src="/global_assets/js/plugins/forms/inputs/alpaca/price_format.min.js"></script> -->
	<script src="/global_assets/js/plugins/forms/selects/select2.min.js"></script>
	<!-- <script src="/global_assets/js/plugins/ui/prism.min.js"></script> -->
	<!-- <script src="/global_assets/js/plugins/editors/ckeditor/ckeditor.js"></script> -->
	<!-- <script src="/global_assets/js/plugins/forms/styling/uniform.min.js"></script> -->

	<script src="assets/js/app.js"></script>
	<script src="/global_assets/js/demo_pages/alpaca_advanced.js"></script>
	<!-- /theme JS files -->


<!-- Main content -->
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">

        <!-- Basic card -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Add a new Startup</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>


            <div class="card-body">
                <form method="post" action="create">
                    <div class="form-group">
                        <label for="title">Startup Name</label>
                        <input type="text" name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="title">Description</label>
                        <input type="text" name="description" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="title">Industry</label>
                        <input type="text" name="industry" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="title">Business Model</label>
                        <input type="text" name="businessModel" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="title">Growth Stage</label>
                        <input type="text" name="growthStage" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="title">Location</label>
                        <input type="text" name="location" class="form-control">
                    </div>

                    

					<div class="col-md-6">
						<div class="card">
							<div class="card-header header-elements-inline">
								<h6 class="card-title">Country Selecor</h6>
							</div>
						
							<div class="card-body">
								<p class="mb-3">The following example produces the same form, but uses a connector to load 
                                    the schema and options. The options JSON is loaded and merged with some inline options that provide to 
                                    override a submit click handler.</p>
								<div id="alpaca-option-tree-connector"></div>
								<!-- <a href="#alpaca-option-tree-connector-source" data-toggle="collapse"><i class="icon-embed2 mr-2"></i> Show source code</a>
								<div class="collapse mt-2" id="alpaca-option-tree-connector-source">
									<pre class="language-javascript"><code>// Using connector
                                        $('#alpaca-option-tree-connector').alpaca({
                                            schemaSource: '/global_assets/demo_data/alpaca/optiontree-custom-schema.json',
                                            optionsSource: '/global_assets/demo_data/alpaca/optiontree-custom-options.json',
                                            options: {
                                                focus: false
                                            }
                                        });</code></pre>
								</div> -->
							</div>
						</div>
					</div>




                    <input type="submit" value="Save" class="btn btn-primary">
                </form>



            </div>
        </div>
        <!-- /basic card -->


    </div>
    <!-- /content area -->

</div>
<!-- /main content -->

</div>
<!-- /page content -->